p,li {
  color: darkorange;
}
h1 {color: aqua}
h1 {font-size: 60px}
body {margin-left: 90px}
body {
  width: 1600px;
  background-color: azure;
  padding: 0 20px 20px 20px;
}
h2 { font-size: : 100px}
h2 {color: darkorange}
h3{ color: red}
.p1{font-size: 30px}
.p1{color:aqua}
.p1{text-align: center}
img src="images/30596.jpg"{
  display: block;
  margin: 0 auto;
}