li {font-size: 60px    ;font-family: Malgun Gothic,Microsoft JhengHei}
body{width:auto
;height: auto;
background-color:azure;
}
input{position: absolute;
top:55px;
left:750px;
font-size: 20px}
li {margin-left: 45px}
