body{
    height: 1000px;
    background-image: url(/images/98527.jpg);
    background-repeat: no-repeat
}
h2{
    font-size: 40px
}
a{font-size: 25px}
div{margin-top: 0px}
a:visited{color:cornflowerblue}
a:hover{color: cadetblue}
.A{ position: absolute;top:40px;left:400px}