ul{font-size: 45px
;color:darkgoldenrod}
.photo{position: absolute;top:0px;left: 1100px}
html,body{background-color: aqua
;width: 1920px
;height: 1200px}
html{font-family:Microsoft YaHei ,Malgun Gothic,serif}
input{position: absolute;top:20px;left:400px}
.gif{position: absolute;top:600px;left:490px}
.A{position: absolute;left:35px}
.B{position: absolute;top:20px;left:690px}
